# Model training

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('../data/preprocessed_data.csv')
data

                                            Clean_Text Sentiment_clean
0                          enjoying beautiful day park        Positive
1                             traffic terrible morning        Negative
2                             finished amazing workout        Positive
3                     excited upcoming weekend getaway        Positive
4                     trying new recipe dinner tonight         Neutral
..                                                 ...             ...
701  collaborating science project received recogni...         Neutral
702  attending surprise birthday party organized fr...         Neutral
703  successfully fundraising school charity initia...         Neutral
704  participating multicultural festival celebrati...         Neutral
705  organizing virtual talent show challenging tim...         Neutral

[706 rows x 2 columns]

### Applying TF-IDF vectorization

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(max_features=5000)
X = vectorizer.fit_transform(data['Clean_Text'])
y = data['Sentiment_clean']