# Model training

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../data/preprocessed_data_added.csv')
data

                                                    Text Sentiment
0      still news roomhowever audio turn around grabb...   Neutral
1      saw fleetwood mac im insanely jealous dont eno...  Negative
2      theres one thing hate friends dats move skl fo...  Negative
3           think cheap sunglasses falling apart oh well  Negative
4                           please read blog im best day  Negative
...                                                  ...       ...
23629  haha know work blip apart obvious thanks rebli...  Positive
23630  noooo ill miss much went stag prom high school...  Negative
23631  sign tarte news intro newsletter 20 first purc...   Neutral
23632  prayin dad wellington fl via live welly may pr...  Positive
23633  unfortunetly wish mean sometimes like twice yr...  Negative

[23634 rows x 2 columns]

### Applying TF-IDF vectorization

In [3]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(max_features=5000)
X = vectorizer.fit_transform(data['Text'])
y = data['Sentiment']